@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.wow {
  width: 100px;
}


:root {
  --background: #1f1f1f;
  --primary-color: #E9645D;
  --text-color: white;
  --footer-background: #121212;
  --footer: #9e9e9e;
}

html {
  background: var(--background);
  color: white;

  font-family: 'Bebas Neue', cursive;
  font-size: 40px;

  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align:center;
  font-size: 50px;

  margin-top: 0px;
  margin-bottom: 60px;
}


div {
  text-align: center;
  margin: 30px;
}

button {
  color: white;
  background: var(--primary-color);

  font-family: 'Bebas Neue', cursive;
  font-size: 25px;

  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 6px 10px 6px 10px;
  
  margin: 0 0 50px 0;
}

button:hover {
  background: #bb4a44;
}


footer {
  width: 100%;
  height: 40px;

  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 40px;

  background: var(--footer-background);
  color: var(--footer);
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

